.checkoutProduct{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;

}

.checkoutProduct_info{
    padding-left: 20px;

}

.checkoutProduct_info > button{
    background-color: #ffdf00;
    border: 1px solid;
    height: 30px;
    border-radius: 10px;
    margin-top: 10px;
    width: 30%;
    border-color: #ffdf00;
    color: #111;
    cursor: pointer;
}

.checkoutProduct_image{
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.checkoutProduct_rating{
    display: flex;
}

.checkoutProduct_title{
    font-size: 17px;
    font-weight: 600;
}

.checkoutProduct_title:hover{
    color: red;
    cursor: pointer;
}