.product {
    display: flex;
    flex-direction: column;
    background-color: white;
    z-index: 1;
    padding: 20px;
    margin: 10px;
    max-height: 400px;
    min-width: 100px;
    width: 100%;
    justify-content: flex-end;
    align-items: center;   
    position: relative; /* Add position relative to allow absolute positioning for notification */
}

.product > img {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}

.product_info {
    height: 100px;
    margin-bottom: 15px;
}

.title:hover{
    color: red;
    cursor: pointer;
}

.product_price {
    margin-top: 5px;
}

.product > button {
    background-color: #ffdf00;
    border: 1px solid;
    height: 30px;
    border-radius: 10px;
    margin-top: 10px;
    width: 100px;
    border-color: #ffdf00;
    color: #111;
    cursor: pointer;
}

.product_rating {
    display: flex;
}

.notification {
    position: fixed; /* Position fixed to stay at the top right corner of the page */
    margin-top: 50px;
    width: 30%;
    right: 20px; /* Adjust as needed */
    border: 3px solid;
    border-radius: 5px;
    z-index: 9999;  /* Ensure the notification appears above other content */
    flex-direction: column; /* Display notifications in a column */
  align-items: flex-end; 
  }
  
  .notification_content {
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 5px;
  }
  
  .close_button {
    cursor: pointer;
    display: flex;
  }
