.header{
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header_logo{
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
}

.header_search{
    display: flex;
    flex: 1;
    align-items: center;
    border: 2px solid none;
    border-radius: 4px;
    box-shadow: 0 0 5px #cd9042;
    transition: box-shadow 0.3s ease-in-out;
}

.header_search:focus-within {
    border: 4px solid #cd9042;
}

.header_searchInput{
    height: 15px;
    padding: 10px;
    border: none;
    width: 100%;
    margin-left: auto;
    outline: none;
}

.camera_focus{
    padding: 5px;
    height: 25px !important;
    background-color: white;
    cursor: pointer;
    font-size: 20px;
    color:gray;
}

.drop_down{
    background-color: #DCDCDC;
    color: #808080;
    width: 50px;
    padding-top: 5.5px;
    padding-bottom: 5.5px;
    padding-left: 10px;
    padding-right: 10px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    cursor: pointer;
}


.header_searchIcon{
    padding: 5px;
    height: 25px !important;
    background-color: #cd9042;
    cursor: pointer;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.header_nav{
    display: flex;
    justify-content: space-evenly;
}

.header_option{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}

.header_optionLineOne{
    font-size: 10px;
}

.header_optionLineTwo{
    font-size: 13px;
    font-weight: 800;
}

.header_optionBasket{
    display: flex;
    align-items: center;
    color: white;
    margin-right: 10px;
}

.header_optionBasketCount{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 13px;
    font-weight: 800;
}